{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div id="users" class="entity">
            <div id="user-entities" class="entity-list">

            </div>

            <div id="user-form" class="entity-form">

            </div>
        </div>

        <div id="contentpages" class="entity">
            <div id="contentpage-entities" class="entity-list">

            </div>

            <div id="contentpage-form" class="entity-form">

            </div>
        </div>

        <div id="controls">
            <button id="batch-mode">Enable Batch Mode</button>
        <div>
    </div>
{% endblock %}

{% block stylesheets %}
<style>
    html, body {width:100%; height:100%; margin:0; padding:0;}
    body { background: #F5F5F5; font: 18px/1.5 sans-serif; }
    .container {
        width:100%;
        height:100%;
    }

    .entity {
        width:50%;
        height:80%;
        float:left;
    }

    .entity-form {
        width:100%;
        height:50%;
        overflow:auto;
    }

    .entity-list {
        width:100%;
        height:50%;
        overflow:auto;
        background-color:white;
    }

    #controls {
        width:100%;
        height:20%;
        float:left;
    }

    #batch-mode {
        width:40%;
        height:100%;
        margin-left:30%;
    }
</style>
{% endblock %}

{%block javascripts %}
    {{parent()}}

    <script src="{{ asset('js/main.js') }}"></script>
{% endblock %}
